<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket :: {{id}}</title>
		<link rel="stylesheet" href="/s/pastebucket.css">
	</head>
	<body>
		<header>
			<h1><a href="{{site_url|safe}}">pastebucket</a> :: <a href="/{{id}}">{{id}}</a></h1>
			<hr>
		</header>
		<nav>
			<ul>
				<li><a href="/{{id}}/raw">raw</a></li>
				<li><a href="/{{id}}/edit">edit</a></li>
				<li>{{syntax}}</li>
				<li>{{dt}}</li>
			</ul>
		</nav>
		<form action="/" method="post">
			<textarea id="paste_area" autofocus name="paste" onkeydown="ctrl_enter(event);">{{text|safe}}</textarea>
			<p>
				<select name="lang">
					<option value="{{syntax}}" selected>{{syntax}}
					<option value="Plain Text">Plain Text
					{% for s in syntaxes %}
					<option value="{{s}}">{{s}}
					{% endfor %}
					</select>
			</p>
			<p><input id="paste_button" type="submit" value="submit"></p>
		</form>
		<script>
			function ctrl_enter(e) {
				if (e.keyCode == 13 && e.ctrlKey) {
					document.getElementById("paste_button").click();
				}
			}
		</script>
	</body>
</html>
